
<form action="/user/updatepassword/">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul style="list-style:none">
                    <li>
                        <label for="Password">Password<span>*</span></label>
                        <input type="password" id="password" class="form-control" required name="Password">
                    </li><!-- End .form-group -->
                    <li>
                        <label for="ConfirmPassword">ConfirmPassword<span>*</span></label>
                        <input type="password" id="confirm_password" class="form-control" required name="ConfirmPassword">
                    </li><!-- End .form-group -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btnLoginCustomer btn">Submit</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
