
@{
    ViewBag.Title = "Checkout Option";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--XXXXXXXXXX-- Wrapper-breadcrumbs --XXXXXXXXXX-->
<div class="wrapper-breadcrumbs clearfix">
    <div class="container">
        <div class="spacer30"></div><!--spacer-->
        <div class="breadcrumbs-main clearfix">
            <h2>Checkout Page</h2>
            <ul>
                <li><a href="/">Home</a><span class="separator">/ </span></li>
                <li><strong>Check Out Option</strong></li>
            </ul>
        </div>
        <div class="spacer15"></div><!--spacer-->
    </div>
</div>
<!--XXXXXXXXXX-- End Wrapper-breadcrumbs --XXXXXXXXXX-->
<!--XXXXXXXXXX-- Start Wrapper Main XXXXXXXXXX-->
<div class="wrapper-main brandshop clearfix">
    <div class="spacer15"></div><!--spacer-->
    <div class="container">
        <div class="inner-block">
            <!------Main Inner-------->
            <div class="row">
                <div class="cart-main">
                    <!-- Shopping Cart -->
                    <div class="col-md-12">
                        <div class="cart-control clearfix">
                            <table class="table total-table">
                                <tbody>
                                    <tr>
                                        <td class="total-table-title">Login or Register:</td>
                                        <td><a href="/user/login">SignIn/SignUp</a></td>
                                    </tr>
                                    <tr>
                                        <td class="total-table-title">Guest Checkout:</td>
                                        <td><a href="/user/guestcheckin">CheckIn As Guest</a></td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div><!-- End Shopping Cart -->
            </div>
        </div>
    </div>
    <div class="spacer30"></div><!--spacer-->
</div>
<!-------------- End wrapper main -------------->


