
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_productlayout.cshtml";
}

<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>My Account</li>
                <li>My Orders</li>
                <li>Success</li>
            </ul>
        </div>
    </div>
</div>

<div class="my-account-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>Success ! you order has been placed successfully, detail sent via mail.</h5>
            </div>
        </div>
    </div>
</div>