
@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_productlayout.cshtml";
}

<div class="wrapper-main brandshop clearfix">
    <div class="container">
        <div class="inner-block">
            <!------Main Inner-------->
            <div class="row">
                <div class="no-page clearfix">
                    <!-- Start 404 -->
                    <h3>Success</h3>
                    <p>Your account has been created and activation link sent via email. Please click on link to activate the email and continue to unintrupted service.</p>
                </div><!-- End 404 -->
            </div>
        </div>
    </div>
</div>

