@{
    List<Rachna.Teracotta.Project.Source.Models.ProductFeatures> _featureBest = new List<Rachna.Teracotta.Project.Source.Models.ProductFeatures>();
    List<Rachna.Teracotta.Project.Source.Models.Carts> _carts = new List<Rachna.Teracotta.Project.Source.Models.Carts>();
    Rachna.Teracotta.Project.Source.App_Data.RachnaDBContext context = new Rachna.Teracotta.Project.Source.App_Data.RachnaDBContext();
    _featureBest = context.ProductFeature.Include("Product")
        .ToList().Where(m => m.Product_Feature_Type == Rachna.Teracotta.Project.Source.Entity.eProductFeature.Best.ToString()).ToList();
    foreach (var item in _featureBest)
    {
        item.Product.ProductBanner = context.ProductBanner.Where(m => m.Product_Id == item.Product_Id).ToList();
    }
}

@foreach (var item in _featureBest)
{
    <div class="product-item">
        <ul class="products-row">
            <li class="image-block">
                <span class="new offer">New</span>
                <a href="/product/index?id=@item.Product_Id&title=@item.Product.Product_Title"><span><img src="@item.Product.ProductBanner.Where(m => m.Product_Banner_Default == 1).FirstOrDefault().Product_Banner_Photo" alt="" /></span></a>
                @if (_carts.Count > 0)
                {
                    if (_carts.Where(m => m.Product_Id == item.Product_Id).FirstOrDefault() != null)
                    {
                        <a href="/user/" class="add-to-cart">Go To Cart</a>
                    }
                    else
                    {
                        <a href="/cart/addtocart?id=@item.Product_Id&size=0&qty=1&from=home" class="add-to-cart">Add To Cart</a>
                    }
                }
                else
                {
                    <a href="/cart/addtocart?id=@item.Product_Id&size=0&qty=1&from=home" class="add-to-cart">Add To Cart</a>
                }
            </li>
            <li class="products-details">
                <a href="/product/index?id=@item.Product_Id&title=@item.Product.Product_Title">
                    @if (item.Product.Product_Title.Length > 20)
                    {
                        @item.Product.Product_Title.Substring(0, 17)<b>...</b>
                    }
                    else
                    {
                        @item.Product.Product_Title
                    }

                </a>
                <span>&#x20B9;@Math.Round(item.Product.Product_Our_Price)</span>
            </li>
        </ul>
    </div>
}
