@{
    Rachna.Teracotta.Project.Source.ViewModel.HeaderModel headerModel = new Rachna.Teracotta.Project.Source.ViewModel.HeaderModel();
    Rachna.Teracotta.Project.Source.ViewModel.Header headerObject = new Rachna.Teracotta.Project.Source.ViewModel.Header();
    headerModel = headerObject.Get();
}

<header id="header">
    <div class="header-wrapper">
        <div class="container clearfix">
            <!-- logo -->
            <div class="logo">
                <h1 class="clearfix">
                    <a href="/">
                        @{
                            if (@headerModel._logo != null)
                            {
                                <img src="../../@headerModel._logo.Logo_Banner" alt="logo" width="200" height="100"/>
                            }
                            else
                            {
                                <img src="../../content/logo.png" alt="logo" />
                            }
                        }
                    </a>
                </h1>
            </div>
            <!--End logo -->
            <div class="fright clearfix">
                <div class="right-wrapper">
                    <div class="search">
                        <!--Search-->
                        <a href="#"><i class="fa fa-search"></i></a>
                        <form action="/home/searchresult" class="search-form">
                            <input type="search" name="s" class="s" placeholder="Search entry site here...">
                            <a href="#" class="search-close"><i class="fa fa-close"></i></a>
                        </form>
                    </div><!--End Search-->
                    @Html.Partial("components/_cart", headerModel._carts)
                    <!--End Cart-->
                </div>
            </div>
        </div>
    </div>
    @if (headerModel._menu != null && headerModel._menu.Count > 0)
    {
        if (headerModel._menu.Where(m => m.MenuType == Rachna.Teracotta.Project.Source.Entity.eMenu.Header.ToString()).ToList().Count > 0)
        {
            <div class="navigation">
                <!-- Start navigation -->
                <div class="container">
                    <nav class="main-nav">
                        <div class="reponsive-menu">
                            <a id="responsive-btn" href="#">
                                <!-- Responsive nav button -->
                                <span class="responsive-btn-icon">
                                    <span class="responsive-btn-block"></span>
                                    <span class="responsive-btn-block"></span>
                                    <span class="responsive-btn-block last"></span>
                                </span>
                                <span class="responsive-btn-text">Menu</span>
                            </a><!--End responsive nav button -->
                            <div id="responsive-menu-container">

                            </div><!-- End responsive menu container -->
                        </div>
                        <ul class="menu clearfix">
                            @foreach (var item in headerModel._menu)
                            {
                                if (item.MenuType == Rachna.Teracotta.Project.Source.Entity.eMenu.Header.ToString())
                                {
                                    if (item.Page_Id == 1)
                                    {
                                        <li><a href="/">Home</a></li>
                                    }
                                    else if (item.Page_Id == 2)
                                    {
                                        <li><a href="/home/offers?id=1234&redirect-page=latest-hot-offers-from-rachna.htm">Hot Offers</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/home/page?pageid=@item.Page_Id&redirect-url=@item.Title">@item.Title</a></li>
                                    }
                                }
                            }
                            <li><a href="/home/contactus?id=1234&redirect-page=online-store-contact-us-rachna.htm">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- End navigation -->
        }
    }
</header>
<!--------------End header-------------->