@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/error.cshtml";
}

<div class="about-area pt-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-content">
                    <h2>500<span>ERROR</span></h2>
                    <h5>Failed Server Error</h5>
                    <p>
                        Server Error /&ldquo;It seems &rdquo;. error occured from server side. Please try after some time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
