@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/error.cshtml";
}

<div class="no-page clearfix">
    <!-- Start 404 -->
    <h2>500</h2>
    <p>Server Error /&ldquo;It seems &rdquo;. error occured from server side. Please try after some time.</p>
    <form>
        <input type="text" placeholder="Search" />
        <button class="btn-default">Go</button>
    </form>
</div><!-- End 404 -->

