
@{
    ViewBag.Title = "Content Updation : In Progress";
    Layout = "~/Views/Shared/error.cshtml";

    Rachna.Teracotta.Project.Source.Models.UnderConstrunction underConstrunction = new Rachna.Teracotta.Project.Source.Models.UnderConstrunction();
    underConstrunction = Rachna.Teracotta.Project.Source.ViewModel.ContactModel.Instance.PageUnderConstruction();

}

<div class="ho-section newsletter-area bg-grey ptb-50">
    <div class="container">
        <div class="about-content">
            @if (@underConstrunction != null)
            {
                <h2>@underConstrunction.UnderConst_Title</h2>
                <p>
                    @underConstrunction.UnderConst_Description
                </p>
            }
            else
            {
                <h2>Sorry, We are currently working on this. Every minute of an hour don't think about a rest.</h2>
                <br />
                <p>Enter your Email below and we will notice you, when its ready. In the mean time check our facebook, twitter or instagram</p>
                <br />
            }
        </div>
        <div class="newsletter">
            <div class="newsletter-title">
                <h2>Subscribe to our <span>Newsletter!</span></h2>
            </div>
            <div class="newsletter-content">
                <form action="/home/subscribe/" class="newsletter-form">
                    <input type="email" name="emailid" autocomplete="off" placeholder="Your email address..." required="">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>