
@{
    ViewBag.Title = "Content Updation : In Progress";
    Layout = "~/Views/Shared/error.cshtml";

    Rachna.Teracotta.Project.Source.Models.UnderConstrunction underConstrunction = new Rachna.Teracotta.Project.Source.Models.UnderConstrunction();
    Rachna.Teracotta.Project.Source.ViewModel.HomePageModelData homwModelData = new Rachna.Teracotta.Project.Source.ViewModel.HomePageModelData();
    underConstrunction = homwModelData.PageUnderConstruction();
}

<div class="no-page clearfix">
    @{
        if (@underConstrunction != null)
        {
            <h1>@underConstrunction.UnderConst_Title</h1>
            <br />
            <p>@underConstrunction.UnderConst_Description</p>
            <br />
        }
        else
        {
            <h1>Sorry, We are currently working on this. Every minute of an hour don't think about a rest.</h1>
            <br />
            <p>Enter your Email below and we will notice you, when its ready. In the mean time check our facebook, twitter or instagram</p>
            <br />
        }
    }
    <div class="newsletter" style="margin-left:270px">
        <input type="text" name="" class="txtSubscrEmailId" value="" required>
        <input type="submit" class="btnSubscribe" value="SUBSCRIBE">
        <script type="text/javascript">
            $(".btnSubscribe").click(function () {
                var emailid = $(".txtSubscrEmailId").val();
                if (emailid == '') {
                    Messi.alert('Please Enter Email Id to subscribe.');
                    return false;
                }
                else {
                    if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($(".txtSubscrEmailId").val())) {
                        $.ajax({
                            type: "POST",
                            url: '/home/subscribe?emailid=' + $(".txtSubscrEmailId").val(),
                            success: function (data) {
                                Messi.alert(data);
                                return false;
                            }
                        });
                    }
                    else {
                        Messi.alert("You have entered an invalid email address!")
                        return (false)
                    }
                }
            });
        </script>
    </div>
</div><!-- End 404 -->
