@{
    Layout = "~/Views/Shared/error.cshtml";
    ViewBag.Title = "Error";
}

<div class="no-page clearfix">
<!-- Start 404 -->
    <h2>404</h2>
    <p>The resource cannot be found.</p>
    <p>Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it is spelled correctly.</p>
</div>
<!-- End 404 -->
